<div class="col-md-12" style="margin:3pt 0pt 20pt 0pt;">
    <div class="col-md-12">
        <div class="col-md-12 no-col-padding contact-item text-small">
            <i class="fas fa-envelope text-primary-color text-normal" style="min-width: 15pt;"></i>
            <span class="text-small" style="margin-left:8pt;">{{contactDetails.mailId}}</span>
        </div>
        <div class="col-md-12 no-col-padding contact-item text-small">
            <i class="fas fa-mobile-alt text-primary-color text-normal" style="min-width: 15pt;"></i>
            <span class="text-small" style="margin-left:8pt;">{{contactDetails.phoneNumber}}</span>
        </div>
        <div class="col-md-12 no-col-padding contact-item text-small">
            <i class="fas fa-map-marker-alt text-primary-color text-normal" style="min-width: 15pt;"></i>
            <span class="text-small" style="margin-left:8pt;">{{contactDetails.location}}</span>
        </div>
        <div class="col-md-12 no-col-padding contact-item text-small">
            <i class="fab fa-linkedin-in text-primary-color text-normal" style="min-width: 15pt;"></i>
            <span class="text-small" style="margin-left:8pt;">{{contactDetails.linkedin}}</span>
        </div>
        <div class="col-md-12 no-col-padding contact-item text-small">
            <i class="fab fa-github text-primary-color text-normal" style="min-width: 15pt;"></i>
            <span class="text-small" style="margin-left:8pt;">{{contactDetails.github}}</span>
        </div>
    </div>
</div>

