.skill-block-container{
    margin-bottom: 5pt;
    margin-right: 6pt;
    width: auto;
    float: left;
}

.skill-block-text{
    margin-bottom: 6pt;
    border-radius: 4.5pt;
    padding: 1pt 9pt;
    float: left;
    position: relative;
    display: inline-table;
    min-height: 20pt;
}

.skill{
    display: table-cell;
    vertical-align: middle;
}

.skills-parent{
    overflow: auto;
}