/* You can add global styles to this file, and also import other style files */

.text-title-big{
    font-size: 22pt;
    line-height: 24pt;
}

.text-title{
    font-size: 16pt;
    line-height: 19pt;
}

.text-sub-title{
    font-size: 11pt;
    line-height: 13pt;
}

.text-normal{
    font-size: 9pt;
    line-height: 11pt;
}

.text-small{
    font-size: 8pt;
    line-height: 10pt;
}

.text-primary-color{
    color: #154677;
}

.text-white{
    color: #FFFFFF;
}

.background-primary{
    background-color: #154677;
}

.background-white{
    background-color: #FFFFFF;
}

.text-ittalic{
    font-style: italic;
}

.nopadding{
    padding: 0pt;
}

.no-col-padding{
    padding-right: 0pt !important;
    padding-left: 0pt !important;
}

.title-underline{
    border-bottom-width: 2pt;
    border-bottom-style: solid;
    border-color: #154677;
}

.seperator{
    width: 100%;
    margin-top: 6pt;
    margin-bottom: 6pt;
    border-color: #154677;
    float: left;
    height: 2pt;
}

.text-bold{
    font-weight: 600;
}

.text-capital{
    text-transform: uppercase;
}

.content-heading{
    margin-bottom: 12pt;
    padding-bottom: 1.5pt;
    text-transform: uppercase;
    font-weight: 600;
    color: #154677;
}

.group-line{
    top: 4.5pt;
    position: absolute;
    height: 100%;
    width: 2pt;
}

.group-ball{
    border-width: 4pt!important;
    width: 15pt;
    height: 15pt;
    top: -1pt;
    left: -6.75pt;
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-color: #154677;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.no-overflow{
    overflow: hidden;
}