.bracket-list{
    display: inline-block;
}

.bracket-item-container{
    display: table;
}

.bracket-list-icon{
    font-size:8px;
    font-size: 8px;
    display: table-cell;
    width: 1%;
    padding-top: 5  px;
    vertical-align: top;
}

.bracket-list-item{
    display: table-cell;
    width: 99%;
    padding-left: 5px;
}

.bracket-item-1{
    top: 1.5px;
    left: 1.5px;
    border-top-width: 1.5px;
    border-left-width: 1.5px;
    width: 9px;
    height: 80%;
    position: absolute;
    border-top-style: solid;
    border-left-style: solid;
    border-color: #154677;
}

.bracket-item-2{
    top: 1.5px;
    right: 1.5px;
    border-top-width: 1.5px;
    border-right-width: 1.5px;
    width: 9px;
    height: 80%;
    position: absolute;
    border-top-style: solid;
    border-right-style: solid;
    border-color: #154677;
}

.bracket-item-3{
    bottom: 1.5px;
    left: 1.5px;
    border-bottom-width: 1.5px;
    border-left-width: 1.5px;
    width: 9px;
    height: 80%;
    position: absolute;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: #154677;
}

.bracket-item-4{
    bottom: 1.5px;
    right: 1.5px;
    border-bottom-width: 1.5px;
    border-right-width: 1.5px;
    width: 9px;
    height: 80%;
    position: absolute;
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: #154677;
}